div {
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
    padding: 3rem;
}

button {
    width: 10rem;
    height: 4rem;
    align-self: center;
    background-color: white;
}

button:active {
    background-color: whitesmoke;
    font-weight: bold;
}